*{
    padding: 0;
    margin: 0;

}
.body1{
    background-image: url('assets/wooden-floor-background.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}
body{
    background-image: linear-gradient(antiquewhite, sandybrown);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    /*background-size: cover;
    height: 100%;*/
}
h1{
    color: rgb(209, 14, 14);
    margin-top: 1%;
    margin-bottom: 1%;
}
h2{
    color: brown;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
p{
    margin: 10%;
    font-size: 20px;
}

.enigma{
    width: 400px;
    background-color: brown;
    color: white;
    border-radius: 20px;
    height: 40px;
    font-size: 25px;
    margin-top: 5%;
}

h3, h5, h6{
    margin-top: 1%;
    margin-bottom: 3%;

}

.jogar{
    border-radius: 20px;
    border: solid 5px black;
    height: 80px;
    color: white;
    width: 250px;
    background-color: brown;
}
.jogar a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.jogar a:hover{
    text-decoration: underline;
    color: blue;
}


.passo1, .passo2, .passo3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.explicacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    text-align: justify;
}
.sel-points{
    background-color: brown; margin-top: 5%; margin-bottom: 5%; border-radius: 40px; width: 200px; height: 30px;
    color: white;

}
.sel-points:hover{
    background-color: red;
    font-weight: bold;
}
.point{
    width: 40px;
    height: 40px;
    background-color: brown;
    border: solid 5px white;
    border-radius: 50%;
    position: absolute;
}
.obutton{
    position: absolute;
    left: 43.5%;
    top: 65%;
    background-color: #6d0b00;
    width: 150px;
    height: 80px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
button:hover{
    border: 5px solid blue;
}
.cap1, .cap2{
    display: flex;
    width: 40%;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
    flex-direction: column;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 15px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #db3434;
    border-radius: 50%;
    position: absolute;
}

.circulos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.BA{left: 656px; top: 64px; transform: rotate(44deg);}
.AC{left: 798px; top: 68px; transform: rotate(316deg);}
.DB{left: 616px; top: 213px; transform: rotate(341deg);}
.ED{left: 731px; top: 298px; transform: rotate(90deg);}
.EC{left: 841px; top: 211px; transform: rotate(19deg);}
.DA{left: 683px; top: 84px; transform: rotate(13deg);}
.EA{left: 766px; top: 63px; transform: rotate(347deg);}


.line1 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
    color: rgb(65, 110, 223);
    width: 5px;
    height: 150px;
    background-color: #6d0b00;
    position: absolute;
}

.line2 {
    width: 5px;
    height: 300px;
    background-color: #6d0b00;
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
    color: rgb(65, 110, 223);

}

.line3{
    position: absolute;
    background-color: blue;
    transform-origin: left;
    display: flex;
    justify-content: left;
    align-items: right;
    font-size: 20px;
    height: 5px;  
    text-align: left;
}
.line3:hover{
    border: 3px solid rgb(255, 0, 0);
}

.line1:hover, .line2:hover{
    border: 5px solid blue;
}

.line:hover{
    border: red 10px solid;
}

.passo1, .passo2, .passo3, .passo4{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.regras{
    display: flex;
}