@font-face {
    font-family: 'Old';
    src: url('Olondon_.otf') format('opentype'), url('OldLondon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

.body1 {
    background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc_rtALCiYmXh-ATKv6zR5_YTxck3ClZ4ZU4LRm_ewxGzhAKxchYvLILrSgE9JNXAD6kBkX_CKPfHP_lwGEbE26szkYRmAdTyaVbLwI0VVjIQnDtORaNqyn2Ol2bPeEx8uKX40PGl874SopisShL675sVQ=w1071-h714-s-no?authuser=0');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


body {
    background-image: linear-gradient(antiquewhite, sandybrown);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.caps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    padding-top: 1%;
    font-family: 'Old';
    color: rgb(121, 49, 0);
    font-size: 60px;
}

h1 {
    color: rgb(209, 14, 14);
    margin-top: 2%;
    font-size: 40px;

}

.start-button {
    width: 150px;
    font-size: 25px;
    color: white;
    background-color: brown;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.mapa-completo{
    position: relative;
}

.omapa{
    width: 470px;
    height: 470px;
    border: solid brown 10px;
}

.oponto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: deepskyblue;
    color: red;
    border-radius: 50%;
    position: absolute;
}
asarestas{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    text-align: center;
    position: absolute;
=======

>>>>>>> Stashed changes
}

.aaresta{
    background-color: blue;
    font-size: 20px;
    height: 5px;
}

aresta-select{
    position: absolute;
}
p{
    margin-bottom: 20px;
}
h2 {
    color: brown;
    font-size: 30px;
    text-align: center;
}


.p1 {
    font-size: 17px;
    width: 40%;
    text-align: justify;
    font-size: 25px;
    padding-top: 2%;
    padding-bottom: 1%;
    font-style: italic;
}

.enigma {
    width: 400px;
    background-color: brown;
    color: white;
    border-radius: 20px;
    height: 40px;
    font-size: 25px;
    margin-top: 5%;
}

h3, h5, h6 {
    margin-top: 1%;
    margin-bottom: 1%;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navigation > a {
    font-size: 28px;
    background-color: red;
    border-radius: 20px;
    width: 130px;
    margin: 5%;
}

.navigation > a:hover {
    color: white;
    background-color: deepskyblue;
}


.jogar {
    border-radius: 20px;
    border: solid 5px black;
    height: 80px;
    color: white;
    width: 250px;
    background-color: brown;
}

.jogar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.jogar a:hover {
    text-decoration: underline;
    color: blue;
}


.passo1, .passo2, .passo3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.explicacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    text-align: justify;
}

.sel-points {
    background-color: brown;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 40px;
    width: 200px;
    height: 30px;
    color: white;

}

.sel-points:hover {
    background-color: red;
    font-weight: bold;
}

.point {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: blue;
    background-color: brown;
    border: solid 5px white;
    border-radius: 50%;
    position: absolute;
}

.obutton {
    position: absolute;
    left: 45%;
    top: 75%;
    background-color: #6d0b00;
    width: 150px;
    height: 80px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    border: 5px solid blue;
}

.cap1, .cap2 {
    display: flex;
    width: 40%;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
    flex-direction: column;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 20px;
    width: 50%;
    text-align: justify;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #db3434;
    border-radius: 50%;
    position: absolute;
}

.circulos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
}

.BA {
    left: 656px;
    top: 64px;
    transform: rotate(44deg);
}

.AC {
    left: 798px;
    top: 68px;
    transform: rotate(316deg);
}

.DB {
    left: 616px;
    top: 213px;
    transform: rotate(341deg);
}

.ED {
    left: 731px;
    top: 298px;
    transform: rotate(90deg);
}

.EC {
    left: 841px;
    top: 211px;
    transform: rotate(19deg);
}

.DA {
    left: 683px;
    top: 84px;
    transform: rotate(13deg);
}

.EA {
    left: 766px;
    top: 63px;
    transform: rotate(347deg);
}


.line1 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
    color: rgb(65, 110, 223);
    width: 5px;
    height: 150px;
    background-color: #6d0b00;
    position: absolute;
}

.line2 {
    width: 5px;
    height: 300px;
    background-color: #6d0b00;
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
    color: rgb(65, 110, 223);

}

.line3 {
    position: absolute;
    background-color: blue;
    transform-origin: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    height: 5px;
    text-align: left;
}

.line3:hover {
    border: 3px solid rgb(255, 0, 0);
}

.line1:hover, .line2:hover {
    border: 5px solid blue;
}

.line:hover {
    border: red 10px solid;
}

.passo1, .passo2, .passo3, .passo4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.regras {
    display: flex;
}