<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grafos - O mapa misterioso</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body1">

<div class="caps">
    <h1>Capítulo 1: Desvendando os Conceitos</h1>
    <h5>
        <h2>Grafo - O Mapa Misterioso:</h2>
        <h6>
            Imagine o mundo de Kruskal como um mapa misterioso, onde cada local é representado como um nó e as
            estradas que os conectam são as arestas do grafo. Esses nós e arestas formam um quebra-cabeça
            complexo que você precisa resolver para encontrar o tesouro. Cada ponto no mapa é um possível candidato ao
            local onde Kruskal escondeu sua fortuna.
        </h6>
        <img style="width: 200px; margin-bottom: 3%;" src="/static/assets/mapa.png" alt="mapa">
    </h5>
</div>
<div class="navigation">
    <a class="navigation left" href="/">← Voltar</a>
    <a class="navigation right" href="2">Seguir →</a>
</div>


</body>
</html>