<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grafos - O mapa misterioso</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body1">

<div class="caps">
    <h1>Capítulo 1: Desvendando os Conceitos</h1>
    <h5>
        <h2>Ciclo - Evitando Voltas Erradas:</h2>
        <h6>
            Durante sua exploração, lembre-se de que Kruskal era meticuloso em evitar retornos indesejados. Um
            ciclo é como dar voltas em círculos sem sair do lugar. Se você incluir uma aresta que forma um ciclo em
            sua floresta, estará apenas desperdiçando tempo e recursos. Seja eficiente e escolha as arestas
            cuidadosamente para evitar ciclos.
        </h6>

    </h5>
    <img style="width: 200px; margin-bottom: 3%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Undirected_6_cycle.svg/1200px-Undirected_6_cycle.svg.png" alt="ciclo">

</div>
<div class="navigation">
    <a class="navigation left" href="1">← Voltar</a>
    <a class="navigation right" href="3">Seguir →</a>
</div>


</body>
</html>