<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grafos - O mapa misterioso</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body1">

<div class="caps">
    <h1>Capítulo 1: Desvendando os Conceitos</h1>
    <h5>
        <h2>Árvore Geradora Mínima - Desvendando o Caminho:</h2>
        <h6>
            Kruskal era um mestre em encontrar o caminho mais curto e eficaz. A árvore geradora mínima é como o
            esqueleto do mapa misterioso de Kruskal. Ela conecta todos os locais necessários usando o menor
            número
            possível de estradas, garantindo que você não perca tempo indo por caminhos desnecessários. Sua
            tarefa é
            construir essa árvore à medida que explora o mapa.
        </h6>
    </h5>
    <img style="width: 200px; margin-bottom: 3%;"
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Minimum_spanning_tree.svg/800px-Minimum_spanning_tree.svg.png"
         alt="ciclo">

</div>
<div class="navigation">
    <a class="navigation left" href="2">← Voltar</a>
    <a class="navigation right" href="4">Seguir →</a>
</div>


</body>
</html>












