<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grafos - O mapa misterioso</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body1">

<div class="caps">
    <h1>Capítulo 1: Desvendando os Conceitos</h1>
    <h5>
        <h2>Floresta - Início com Nós Solitários:</h2>
        <h6>
            Ao iniciar sua jornada, você começa com uma floresta de nós isolados. Esses são como pontos de
            partida
            separados. Seu desafio é transformar essa floresta em uma única árvore geradora mínima, unindo todos
            os
            locais importantes em um único caminho coerente.
        </h6>
    </h5>
    <img style="width: 200px; margin-bottom: 3%;"
         src="/static/assets/forest.png"
         alt="floreta">

</div>
<div class="navigation">
    <a class="navigation left" href="3">← Voltar</a>
    <a class="navigation right" href="5">Seguir →</a>
</div>


</body>
</html>




