<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grafos - O mapa misterioso</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body1">

<div class="caps">
    <h1>Capítulo 2: As Regras do Jogo</h1>
    <h5>
        <h2>Exploração - Revelando o Mapa:</h2>
        <h6>
            Ao começar sua jornada, você começa de um ponto misterioso no mapa. Sua primeira tarefa é explorar
            os arredores e revelar os nós e as estradas à sua frente, como se estivesse decifrando o mapa de
            Kruskal.
        </h6>
        <h2>Seleção de Arestas - Escolha com Sabedoria:</h2>
        <h6>
            À medida que explora, você deve escolher com sabedoria quais arestas incluir em sua floresta
            inicial. Pense em como Kruskal teria feito isso, selecionando apenas as estradas essenciais que o
            levariam mais perto do tesouro, sem criar ciclos.
        </h6>

        <h2>Expansão da Floresta - Unindo os Nós:</h2>
        <h6>
            Sua floresta inicial crescerá à medida que você adiciona mais nós a ela, unindo-os através das
            estradas que escolheu. O objetivo é criar uma única árvore geradora mínima que lhe revele o caminho
            até o tesouro.
        </h6>

        <h2>Evitar os Ciclos - Seguindo a Filosofia de Kruskal:</h2>
        <h6>
            Mantenha em mente a filosofia de Kruskal de evitar ciclos a todo custo. Se você notar que uma aresta
            criaria um ciclo na sua floresta, deixe-a de lado e continue sua busca por um caminho sem retornos
            indesejados.
        </h6>

        <h2>Chegada ao Tesouro - O Grande Momento:</h2>
        <h6>
            À medida que sua floresta cresce e você segue as regras de Kruskal, você eventualmente chegará ao nó
            onde o tesouro foi escondido. Este é o grande momento da sua jornada. Você decifrou o enigma de
            Kruskal e encontrou a fortuna perdida, tudo graças à sua compreensão dos conceitos e à sua
            habilidade de seguir as regras do jogo. Agora, para abrir o tesouro basta dizer a soma das arestas da
            árvore geradora mínima.
        </h6>
    </h5>
        <button class="jogar" type="button"><a href="jogar">Jogar o jogo!</a></button>

</div>

</body>
</html>






