<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<main>
    <div class="container">
        <h1 class="h1">O Enigma de Kruskal</h1>
        <div class="p1">
            <p>Há muitos anos, em um reino coberto por uma densa floresta misteriosa, vivia um gênio matemático chamado
                Kruskal. Ele era conhecido por sua mente brilhante e sua paixão por desvendar enigmas aparentemente
                impossíveis.</p>
            <p>Um dia, um enigma intrigante chegou aos ouvidos de Kruskal. Um mapa antigo, repleto de símbolos e
                estradas, revelou a existência de 10 cidades lendárias, cada uma guardando segredos ancestrais. Seu
                irmão mais velho, Prim, havia tentado desvendar o enigma, mas falhou...</p>
            <p>O enigma era o seguinte: encontrar o caminho ótimo que ligava as 10 cidades, percorrendo a menor
                distância possível. Kruskal, movido por seu espírito aventureiro, aceitou o desafio.</p>
            <p>Guiado por seu conhecimento em teoria dos grafos, ele traçou as estradas e, com grande sagacidade,
                encontrou o caminho mínimo, passando por cada cidade uma única vez. Em sua jornada, ele escondeu um baú
                em uma das cidades, contendo toda a sua fortuna. No entanto, a senha para abrir o baú era um enigma em
                si: a soma de todas as arestas que formam a Árvore Geradora Mínima (AGM) do grafo que ele havia criado.
            </p>
            <p>Agora, você, como aventureiro e entusiasta da matemática, é convocado a seguir os passos de Kruskal e
                resolver o enigma. As cidades ancestrais, as estradas sinuosas e o baú com a riqueza de Kruskal aguardam
                sua coragem e inteligência.</p>
        </div>

        <a class="start-button" href="1">Começar</a>
    </div>
</main>
</body>
</html>