<!DOCTYPE html>
<html lang="en">

<head>
    <title>O Jogo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="body1">
<main>
    <h2>
        Este é o mapa que Kruskal deixou, seu objetivo é seguir as regras do jogo.<br>
        Confira as 10 cidades localizadas no gráfico.
    </h2><br>
    <div class="mapa-completo">
        <img class="omapa" src="/static/assets/mapa.png" alt="mapa-completo">
        <div class="the-lines">

        </div>

        <div class="ospontos">
            <div name="1" class="oponto" style="top: 61px; left:244px;">1</div>
            <div name="2" class="oponto" style="top: 128px; left:128px;">2</div>
            <div name="3" class="oponto" style="top: 128px; left:347px;">3</div>
            <div name="4" class="oponto" style="top: 284px; left:128px;">4</div>
            <div name="5" class="oponto" style="top: 282px; left:347px;">5</div>
            <div name="6" class="oponto" style="top: 402px; left:128px;">6</div>
            <div name="7" class="oponto" style="top: 402px; left:347px;">7</div>
            <div name="8" class="oponto" style="top: 445px; left:245px;">8</div>
            <div name="9" class="oponto" style="top: 348px; left:238px;">9</div>
            <div name="10" class="oponto" style="top: 199px; left:238px;">10</div>
        </div>
    </div>

    <div class="asarestas">
        <h2 style="width: 50%;">
            Sabendo disso, cada cidade é considerado um vértice, agora vamos selecionar as distancias de uma
            cidade até a outra, que é considerado a nossa aresta!
        </h2><br>
        <form>
            <p>1 -- 2: 10Km</p>
            <div data-weight="10" name="a1-2" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('1', '2', 10)"></div>
            <br>

            <p>1 -- 3: 11Km</p>
            <div data-weight="11" name="a1-3" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('1', '3', 11)"></div>
            <br>

            <p>1 -- 10: 14Km</p>
            <div data-weight="14" name="a1-10" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('1', '10', 14)"></div>
            <br>

            <p>2 -- 4: 23Km</p>
            <div data-weight="23" name="a2-4" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('2', '4', 23)"></div>
            <br>

            <p>3 -- 5: 22Km</p>
            <div data-weight="22" name="a3-5" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('3', '5', 22)"></div>
            <br>

            <p>4 -- 6: 15Km</p>
            <div data-weight="15" name="a4-6" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('4', '6', 15)"></div>
            <br>

            <p>5 -- 7: 13Km</p>
            <div data-weight="13" name="a5-7" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('5', '7', 13)"></div>
            <br>

            <p>6 -- 8: 9Km</p>
            <div data-weight="9" name="a6-8" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('6', '8', 9)"></div>
            <br>

            <p>7 -- 8: 8Km</p>
            <div data-weight="8" name="a7-8" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('7', '8', 8)"></div>
            <br>

            <p>8 -- 9: 7Km</p>
            <div data-weight="7" name="a8-9" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('8', '9', 7)"></div>
            <br>

            <p>9 -- 10: 18Km</p>
            <div data-weight="18" name="a9-10" class="aaresta" style="width: 100px"
                 onclick="adicionarAresta('9', '10', 18)"></div>
            <br>

        </form>
    </div>
</main>
<script>
    // Mapeamento dos vértices e suas coordenadas
    const vertices = {
        "1": {top: 61, left: 244},
        "2": {top: 128, left: 128},
        "3": {top: 128, left: 347},
        "4": {top: 284, left: 128},
        "5": {top: 282, left: 347},
        "6": {top: 402, left: 128},
        "7": {top: 402, left: 347},
        "8": {top: 445, left: 245},
        "9": {top: 348, left: 238},
        "10": {top: 199, left: 238},
    };

    // Lista de arestas disponíveis
    const arestasDisponiveis = [
        {start: "1", end: "2", weight: 10},
        {start: "1", end: "3", weight: 11},
        {start: "1", end: "10", weight: 14},
        {start: "2", end: "4", weight: 23},
        {start: "3", end: "5", weight: 22},
        {start: "4", end: "6", weight: 15},
        {start: "5", end: "7", weight: 13},
        {start: "6", end: "8", weight: 9},
        {start: "7", end: "8", weight: 8},
        {start: "8", end: "9", weight: 7},
        {start: "9", end: "10", weight: 18},
    ];

    // Lista de arestas selecionadas
    const arestasSelecionadas = [];

    // Peso mínimo permitido
    let pesoMinimoPermitido = 7; // Começa com 7

    // Função para adicionar uma aresta
    function adicionarAresta(start, end, weight) {
        if (pesoMinimoPermitido === 12) {
            pesoMinimoPermitido = 13;
        } else if (pesoMinimoPermitido === 16) {
            pesoMinimoPermitido = 18;
        } else if (pesoMinimoPermitido === 19) {
            pesoMinimoPermitido = 22;
        }

        if (weight === pesoMinimoPermitido) {
            if (pesoMinimoPermitido == 22 || pesoMinimoPermitido == 22) {
                alert("Você está formando um ciclo, verifique sua árvore novamente");
            } else {
                if (podeAdicionarAresta(start, end)) {
                    // Desenha a aresta no mapa
                    desenharAresta(start, end, weight);

                    // Verifica se o usuário completou a ordem crescente
                    if (arestasSelecionadas.length === 9) {
                        alert("Você concluiu a seleção de arestas com sucesso!");
                    }

                    arestasSelecionadas.push({ start, end, weight });

                    // Atualiza o peso mínimo permitido
                    pesoMinimoPermitido++;

                } else {
                    alert("A adição dessa aresta não segue a ordem crescente ou formaria um ciclo. Selecione outra.");
                }
            }
        } else {
            alert("Você deve selecionar a próxima aresta de peso mínimo: " + pesoMinimoPermitido);
        }
    }

    // Função para verificar se uma aresta pode ser adicionada
    function podeAdicionarAresta(start, end) {
        // Encontra a próxima aresta com o menor peso
        const proximaAresta = arestasDisponiveis.find(aresta =>
            aresta.weight === pesoMinimoPermitido &&
            ((aresta.start === start && aresta.end === end) || (aresta.start === end && aresta.end === start))
        );

        // Verifica se a próxima aresta com o menor peso foi encontrada
        return proximaAresta != undefined;
    }

    // Função para desenhar uma aresta no mapa
    function desenharAresta(start, end, weight) {
        const startPoint = vertices[start];
        const endPoint = vertices[end];

        const distancia = Math.sqrt(
            Math.pow(endPoint.top - startPoint.top, 2) +
            Math.pow(endPoint.left - startPoint.left, 2)
        );

        const angle = Math.atan2(endPoint.top - startPoint.top, endPoint.left - startPoint.left);

        const edgeDiv = document.createElement('div');
        edgeDiv.classList.add('edge');
        edgeDiv.style.top = startPoint.top + 5 + 'px';
        edgeDiv.style.left = startPoint.left + 15 + 'px';
        edgeDiv.style.width = distancia + 'px';
        edgeDiv.style.transform = `rotate(${angle}rad)`;
        edgeDiv.textContent = `${weight}Km`;

        document.querySelector('.the-lines').appendChild(edgeDiv);
    }

    const somaArestasInput = document.createElement('input');
    somaArestasInput.type = 'text';
    somaArestasInput.style = 'widht: 600px; border-radius: 20px; background-color: brown; color: white;'
    somaArestasInput.placeholder = '';
    document.querySelector('.asarestas').appendChild(somaArestasInput);

    // Adicione um botão para verificar a resposta do jogador
    const verificarRespostaBtn = document.createElement('button');
    verificarRespostaBtn.textContent = 'Verificar Resposta';
    verificarRespostaBtn.style = 'background-color: red; margin-left: 2%; cursor:pointer; color:white; margin-bottom: 5%;'
    verificarRespostaBtn.onclick = verificarResposta;
    document.querySelector('.asarestas').appendChild(verificarRespostaBtn);

    // Função para verificar a resposta do jogador
    function verificarResposta() {
        console.log(arestasSelecionadas.length)
        if (arestasSelecionadas.length === 9) {
            const respostaJogador = somaArestasInput.value;

            // Verifique se a resposta do jogador está correta (substitua 'respostaCorreta' pelo valor correto)
            const respostaCorreta = 105; // Substitua pelo valor correto

            if (parseInt(respostaJogador) === respostaCorreta) {
                alert('Parabéns! Você encontrou o mapa de Kruskal. Vá para a página do tesouro.');
                // Redirecione para a página do tesouro (substitua '/pagina_do_tesouro' pela URL correta)
                window.location.href = '/pagina_do_tesouro';
            } else {
                alert('A resposta está incorreta. Tente novamente.');
            }
        } else{
                alert('Você não selecionou o número de arestas suficientes para MST!');
        }
    }


</script>
<style>
    .aaresta:hover {
        background-color: red;
        border: 1px solid blue;
    }

    .aaresta {
        position: absolute;
        cursor: pointer;
        user-select: none;
    }

    .edge {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 5px; /* Largura da aresta */
        background-color: deeppink; /* Cor da aresta */
        color: white;
        transform-origin: 0 50%;
    }
</style>
</body>

</html>