<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grafos - O mapa misterioso</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body1">

<div class="caps">
    <h1>Você achou o tesouro de Kruskal, parabéns!</h1>
<section style="display: flex; align-items: center; justify-content: center; height: 100%;">
      <figure class="gif">
            <img src="/static/assets/tesouro.gif">
      </figure>
</section>
    <a href="/jogo">VAMOS ESTUDAR MAIS SOBRE KRUSKAL?</a>

</div>
</body>
</html>