<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Passo 4</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="body1">
    <main>
        <h2 id="txt-mp">Você conseguiu montar o mapa!<br> Selecione os caminhos pela sua distância em ordem
                crescente:
        </h2>
        <div class="passo3">
            <div id="mst-container" style="position: relative; border: solid 10px brown;">
                <img id="map" style="width: 450px; height: 450px;" src="/static/assets/transp.png">
                {% for aresta in mst_edges %}
                <div class="aresta mst-aresta" style="{{ aresta.estilo }}" data-name='{{ aresta.name }}'>
                    <p>{{ aresta.weight }}km</p>
                </div>
                {% endfor %}
            </div>

            <h2>Caminho Mais Longo</h2>
            <div id="longest-path-container" style="position: relative; border: solid 10px brown;">
                <img id="map" style="width: 450px; height: 450px;" src="/static/assets/transp.png">
                {% for aresta in longest_path_edges %}
                <div class="aresta longest-path-aresta" style="{{ aresta.estilo }}" data-name='{{ aresta.name }}'>
                    <p>{{ aresta.weight }}km</p>
                </div>
                {% endfor %}
            </div>

            <h2>Ciclos Evitados</h2>
            <div id="cycle-container" style="position: relative; border: solid 10px brown;">
                <img id="map" style="width: 450px; height: 450px;" src="/static/assets/transp.png">
                {% for aresta in cycle_edges %}
                <div class="aresta cycle-aresta" style="{{ aresta.estilo }}" data-name='{{ aresta.name }}'>
                    <p>{{ aresta.weight }}km</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>

</html>