<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="body1">
<div class="passo3">
    <h1>Esse é o caminho de kruskal, clique para saber como chegamos aqui</h1>

        {% for edge in mst_edges %}
            <div class="line1 {{ edge.name }}"></div>
        {% endfor %}
        <section class="circulos">
            <div class="circle" style="left: 704px; top: 50px;">A</div>
            <div class="circle" style="left: 566px; top: 180px;">B</div>
            <div class="circle" style="left: 842px; top: 180px;">C</div>
            <div class="circle" style="left: 625px; top: 350px;">D</div>
            <div class="circle" style="left: 785px; top: 350px;">E</div>
        </section>

    <div style="margin-top: 20%; color: red; font-size: 23px; text-align: center" >
        <a href="ciclos">Ciclos Gerados</a><br><br>
        <a href="saiba-mais.html">Exemplos de cidades desconectadas (grafo desconexo)<a><br><br>
        <a href="caminho-mais-longo.html">Caminho mais longo<a><br><br>
    </div>





</body>
<script>
    // Use mst_edges diretamente para criar conteúdo HTML
    let htmlString = "<h2>Arestas da MST:</h2><div>";
    mst_edges.forEach(edge => {
        htmlString += `<div class="line1 ${edge.name}"></div>`;
    });
    htmlString += "</div>";

    document.getElementById("resultadoArestas").innerHTML = htmlString;
</script>

</html>