<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Parabéns! Você ajudou o mestre Kruskal a achar o tesouro</h1>
    <div>
        {% for edge in mst_edges %}
            <div class="line1 {{ edge.name }}"></div>
        {% endfor %}
    </div>

    <section class="circulos">
        <div class="circle" style="left: 704px; top: 50px;">A</div>
        <div class="circle" style="left: 566px; top: 180px;">B</div>
        <div class="circle" style="left: 842px; top: 180px;">C</div>
        <div class="circle" style="left: 625px; top: 350px;">D</div>
        <div class="circle" style="left: 785px; top: 350px;">E</div>
    </section>

</body>
<script>
    // Use mst_edges diretamente para criar conteúdo HTML
    let htmlString = "<h2>Arestas da MST:</h2><div>";
    mst_edges.forEach(edge => {
        htmlString += `<div class="line1 ${edge.name}"></div>`;
    });
    htmlString += "</div>";

    document.getElementById("resultadoArestas").innerHTML = htmlString;
</script>

</html>